body{
    background-size: cover;
}

.heading{
    width:100%;
    font-size:23px;
    margin:0;
}

.note{
    font-size:18px;
    color:black;
}

.div_speed{
    float: left;
}

.img_style{
    width:200px;
    border-radius: 100px;
}

#speed, #volume{
    font-size:23px;
    margin:15px;
}

.div_volume{
    float:right;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
}